# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Віртуальне оточення (Virtual Env) ---
venv/
.venv/
env/

# --- База даних (КРИТИЧНО: НЕ ЗАЛИВАТИ!) ---
*.db
*.sqlite
*.sqlite3
bot_database.db


# --- Налаштування та секрети ---
.env
.env.local

# --- Логи ---
*.log

# --- IDE та Редактори (Visual Studio, VS Code, PyCharm) ---
.vs/
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# --- Операційні системи ---
.DS_Store
Thumbs.db